/* data-request-styles.less */
/* theme-angry-ferret.less */
.theme-angry-ferret {
  clear: both;
}
.theme-angry-ferret,
.theme-angry-ferret * {
  font-family: "Open Sans";
}
.theme-angry-ferret .theme-header {
  color: #525252;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  padding-left: 14px;
  padding-bottom: 20px;
  line-height: 17px;
}
.theme-angry-ferret .subheader {
  color: #525252;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
}
.theme-angry-ferret .medium-text {
  color: #525252;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}
.theme-angry-ferret .small-text {
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
}
.theme-angry-ferret .warning-text {
  display: inline-block;
  font-size: 10px;
  color: red;
  font-weight: bold;
  font-style: italic;
  margin: 0 2px;
}
.theme-angry-ferret .badge {
  display: inline-block;
  background-color: #97b17c;
  color: white;
  min-width: 14px;
  min-height: 14px;
  border-radius: 9999px;
  text-align: center;
  line-height: 14px;
  padding: 3px;
  white-space: nowrap;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.theme-angry-ferret .theme-frame {
  background-color: #d5e2cc;
  border-radius: 5px;
  padding: 20px 16px;
  margin: 75px 10px 36px 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
.theme-angry-ferret .theme-frame .theme-content {
  color: #525252;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
}
.theme-angry-ferret .theme-frame .theme-content .theme-content-row {
  padding: 12px;
  min-height: 40px;
}
.theme-angry-ferret .theme-frame .theme-content .theme-content-row.theme-divider td {
  border-top: 1px solid #dbdbdb;
}
.theme-angry-ferret .theme-frame .theme-content .theme-content-row:first-child {
  border-radius: 5px 5px 0 0;
}
.theme-angry-ferret .theme-frame .theme-content .theme-content-row:last-child {
  border-radius: 0 0 5px 5px;
}
.theme-angry-ferret .theme-frame .theme-content .theme-content-row th,
.theme-angry-ferret .theme-frame .theme-content .theme-content-row td {
  vertical-align: middle;
}
.theme-angry-ferret .theme-frame .theme-content .row-action-spacer {
  padding-left: 15px;
  display: inline-block;
}
.theme-angry-ferret .vcenter {
  vertical-align: middle;
}
.theme-angry-ferret .ralign {
  text-align: right;
}
.theme-angry-ferret .loading-prompt {
  text-align: center;
  font-size: 18px;
  min-height: 100px;
  line-height: 100px;
}
.theme-angry-ferret .expander {
  position: relative;
  margin-right: 4px;
  top: 2px;
  left: -3px;
  display: none;
  width: 0;
  height: 0;
  content: "";
  border: 4px solid transparent;
  border-top: 4px solid #525252;
  display: inline-block;
}
.theme-angry-ferret .expander.right {
  border-top: 4px solid transparent;
  border-left: 4px solid #525252;
  top: 0;
  left: 0;
}
.theme-angry-ferret .clickable {
  cursor: pointer;
}
.theme-angry-ferret .hyperlink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.theme-angry-ferret .close-x {
  color: #888888;
  cursor: pointer;
  text-align: center;
  transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.theme-angry-ferret .close-x.close-x-medium {
  font-size: 18px;
  line-height: 20px;
  min-height: 20px;
  min-width: 20px;
}
.theme-angry-ferret .button {
  border-radius: 5px;
  color: #ffffff;
  min-width: 70px;
  display: inline-block;
  text-align: center;
  padding: 6px 15px;
  cursor: pointer;
  transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
}
.theme-angry-ferret .button:last-child {
  margin-right: 16px;
}
.theme-angry-ferret .button.button-primary {
  background-color: #97b17c;
}
.theme-angry-ferret .button.button-secondary {
  background-color: #b2b2b2;
}
.theme-angry-ferret .button:hover {
  background-color: #525252;
}
.theme-angry-ferret .dropdown .dropdown-toggle,
.theme-angry-ferret .dropdown .dropdown-menu > li > a {
  color: #525252;
  padding: 3px 10px;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
}
.theme-angry-ferret .dropdown .dropdown-toggle {
  background-color: white;
  border: 1px solid #ddd;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  vertical-align: middle;
  border-radius: 5px;
  padding: 3px 10px;
}
.theme-angry-ferret .dropdown .dropdown-toggle > * {
  display: inline-block;
  vertical-align: middle;
}
.theme-angry-ferret .dropdown .dropdown-toggle > .caret {
  margin: 0 0 0 3px !important;
  /* override bootstrap.min.css */
}
.theme-angry-ferret .dropdown .dropdown-menu {
  background-color: white;
  border: 1px solid #ddd;
  background-image: none;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 7px 0 3px;
}
.theme-angry-ferret .dropdown .dropdown-menu > li.selected > a {
  font-weight: bold;
}
.theme-angry-ferret .dropdown .dropdown-menu > li > a:hover,
.theme-angry-ferret .dropdown .dropdown-menu > li > a:focus {
  color: black;
  background-color: #d5e2cc;
}
.theme-angry-ferret .taf-icon-green-check {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/DataCaptureIcons-01.png");
  background-position: -35px -36px;
  width: 30px;
  height: 27px;
}
.theme-angry-ferret .taf-icon-green-x {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/DataCaptureIcons-01-02.png");
  background-position: -37px -36px;
  width: 27px;
  height: 27px;
}
.theme-angry-ferret .taf-icon-gray-check {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/DataCaptureIcons-01-03.png");
  background-position: -35px -36px;
  width: 30px;
  height: 27px;
}
.theme-angry-ferret .taf-icon-gray-x {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/DataCaptureIcons-01-04_resized.png");
  background-position: 6px 6px;
  width: 20px;
  height: 20px;
}
.theme-angry-ferret .taf-icon-circle-green-check {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/DataCaptureIcons-01-08.png");
  background-position: -20px -20px;
  width: 60px;
  height: 60px;
}
.theme-angry-ferret .taf-icon-circle-green-x {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/DataCaptureIcons-01-07.png");
  background-position: -21px -20px;
  width: 60px;
  height: 60px;
}
.theme-angry-ferret .taf-icon-circle-gray-check {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/DataCaptureIcons-01-06.png");
  background-position: -20px -20px;
  width: 60px;
  height: 60px;
}
.theme-angry-ferret .taf-icon-circle-gray-x {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/DataCaptureIcons-01-05.png");
  background-position: -21px -20px;
  width: 60px;
  height: 60px;
}
.theme-angry-ferret .taf-button-green-punchout-plus {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/white-plus.png");
  background-position: 6px 4px;
  width: 27px;
  height: 23px;
  background-color: #97b17c;
  border-radius: 5px;
}
.theme-angry-ferret .taf-button-green-punchout-x {
  display: inline-block;
  margin: 0;
  background: transparent 0 0 no-repeat;
  vertical-align: middle;
  background-image: url("../../../common/themes/angry-ferret/images/white-x.png");
  background-position: 6px 4px;
  width: 27px;
  height: 23px;
  background-color: #97b17c;
  border-radius: 5px;
}
/* mfi-common.less */
.request-wrapper table {
  margin-bottom: 0px;
}
.request-wrapper table tr td:nth-child(1) {
  min-width: 0px;
}
.request-wrapper table tr td:nth-child(2) {
  min-width: 150px;
}
.request-wrapper table tr td:nth-child(3) {
  min-width: 70px;
}
.request-wrapper table tr td:nth-child(n+2) {
  text-align: center;
}
.request-wrapper table tr input {
  width: 100%;
}
.request-wrapper table tr div > .active-exclusion .taf-icon-green-check {
  display: none;
}
.request-wrapper table tr div:hover > .active-exclusion .taf-icon-green-check {
  display: inline-block;
}
.request-wrapper table .theme-content-row:nth-child(n+2) td {
  background-color: #fafafa;
}
.request-wrapper table .theme-content-row.theme-divider td {
  border-top: 1px solid #dbdbdb !important;
}
.request-wrapper table .theme-content-row td {
  border-top: 1px solid transparent !important;
}
.request-wrapper table .theme-content-row td:first-child {
  padding-left: 16px;
}
.request-wrapper table .theme-content-row td .subheader {
  display: inline-block;
}
.request-wrapper .mfi-inline-editor {
  margin: 5px 0;
}
.request-wrapper .theme-modified,
.request-wrapper .theme-modified td {
  background-color: #FFECCC !important;
}
